<section class="main-cont">
    <h1>Shortly</h1>
    <div class="cont">
        <h2>Features</h2>
        <ul>
            <li>Link Shortening</li>
            <li>Branded Links</li>
            <li>Analytics</li>
        </ul>
    </div>
    <div class="cont">
        <h2>Resources</h2>
        <ul>
            <li>Blog</li>
            <li>Developers</li>
            <li>Support</li>
        </ul>
    </div>
    <div class="cont">
        <h2>Company</h2>
        <ul>
            <li>About</li>
            <li>Our Team</li>
            <li>Careers</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="icons">
        <img src="/assets/img/icon-facebook.svg" alt="">
        <img src="/assets/img/icon-twitter.svg" alt="">
        <img src="/assets/img/icon-pinterest.svg" alt="">
        <img src="/assets/img/icon-instagram.svg" alt="">
    </div>
</section>
<div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. <br>
    Coded by <a href="https://github.com/Romo55s">Tony Romo</a>.
</div>