<section>
    <div>
        <h2>Features</h2>
        <ul>
            <li>Link Shortening</li>
            <li>Branded Links</li>
            <li>Analytics</li>
        </ul>
    </div>
    <div>
        <h2>Resources</h2>
        <ul>
            <li>Blog</li>
            <li>Developers</li>
            <li>Support</li>
        </ul>
    </div>
    <div>
        <h2>Company</h2>
        <ul>
            <li>About</li>
            <li>Our Team</li>
            <li>Careers</li>
            <li>Contact</li>
        </ul>
    </div>
</section>

<div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Tony Romo</a>.
</div>