<header>
    <nav class="main-container">
        <div class="logo">
            <img src="/assets/img/logo.svg" alt="">
        </div>
        <div class="hamburger-menu" (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="menu-container" [ngClass]="{'expanded': isMenuOpen}">
            <ul class="menu menu-left">
                <li><a>Features</a></li>
                <li><a>Pricing</a></li>
                <li><a>Resources</a></li>
            </ul>
            <ul class="menu menu-right">
                <li><a>Login</a></li>
                <li id="btn-sign-up"><a>Sign Up</a></li>
            </ul>
        </div>
    </nav>
</header>