<div class="main-cont">
  <div class="input-container">
    <div class="cont">
      <input type="text" placeholder="Shorten a link here..." [(ngModel)]="url" [class.error]="isInputEmpty">
      <button (click)="validateInput()">Shorten It!</button>
      <p class="error-message" *ngIf="isInputEmpty">Please add a link</p>
    </div>

  </div>

  <div *ngFor="let link of shortenedLinks" class="links-container-main">
    <div class="links-container">
      <div class="urlNormal">
        <p><span>{{ link.originalUrl }}</span></p>
      </div>
      <div class="url-btn-cont">
        <div class="urlShort">
          <p><span>{{ link.shortLink }}</span> </p>
        </div>
        <div class="cont-button">
          <button (click)="copyLink(link)" [class.copied]="link.isCopied">
            <span *ngIf="!link.isCopied">Copy</span>
            <span *ngIf="link.isCopied">Copied!</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="title">
    <h2>Advanced Statistics</h2>
    <p>Track how your links are performing across the web with our
      advanced statistics dashboard.</p>
  </div>
  <div class="cards-content">
    <div class="content no-bar">
      <div class="img-cont">
        <img src="/assets/img/icon-brand-recognition.svg" alt="">
      </div>
      <div class="content-p">
        <h3>Brand Recognition</h3>
        <p>Boost your brand recognition with each click. Generic links don’t
          mean a thing. Branded links help instil confidence in your content.</p>
      </div>
    </div>
    <div class="content">
      <div class="img-cont">
        <img src="/assets/img/icon-detailed-records.svg" alt="">
      </div>
      <div class="content-p">
        <h3>Detailed Records</h3>
        <p>Gain insights into who is clicking your links. Knowing when and where
          people engage with your content helps inform better decisions.</p>
      </div>
    </div>
    <div class="content">
      <div class="img-cont">
        <img src="/assets/img/icon-fully-customizable.svg" alt="">
      </div>
      <div class="content-p">
        <h3> Fully Customizable</h3>
        <p> Improve brand awareness and content discoverability through customizable
          links, supercharging audience engagement.</p>
      </div>
    </div>
  </div>

</div>